<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>
    <%= typeof title !== 'undefined' ? title : 'Page' %> | CommunityLink
    Ladywood
  </title>

  <link rel="stylesheet" href="/styles.css" />

  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  />
</head>
