<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>This is 404!</title>

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1>This is 404!</h1>
    </header>

    <main>
      <!-- Page content goes here -->
    </main>

    <footer>
      <p>&copy; 2026 CommunityLink Ladywood</p>
    </footer>

    <script src="/js/main.js"></script>
  </body>
</html>
