<!DOCTYPE html>
<%- include('./partials/head.ejs') %>
  <body>
    <header>
      <h1>CommunityLink Ladywood</h1>
      <h1>This is 404!</h1>
    </header>

    <main>
      
    </main>

    <%- include('./partials/footer.ejs') %>

  </body>
</html>
