<!DOCTYPE html>
<%- include('./partials/head.ejs') %>
  <body>
    <header>
      <h1>CommunityLink Ladywood</h1>
      <h1>This is Admin Test</h1>
    </header>

    <main>
      
    </main>

    <%- include('./partials/footer.ejs') %>

    <script src="/js/main.js"></script>
  </body>
</html>
