<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/nav') %>

    <main>
      <h1>This is digital</h1>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
