<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <%- include('partials/nav') %>

    <main>
      <div class="home-search">
        <form action="/services" method="GET" class="home-search-form">
          <input
            type="text"
            name="search"
            placeholder="Search services, food support, digital help..."
          />
          <button type="submit">Search</button>
        </form>
      </div>

      <div class="home-container">
        <a href="/energy" class="home-box box-energy">
          <h3>Energy and Sustainability</h3>
        </a>

        <a href="/digital" class="home-box box-digital">
          <h3>Digital Resources</h3>
        </a>

        <a href="/communities" class="home-box box-initiatives">
          <h3>Initiatives and Community Projects</h3>
        </a>

        <a href="/food-support" class="home-box box-food">
          <h3>Food Support</h3>
        </a>

        <a href="https://www.birmingham.gov.uk" class="home-box box-council">
          <h3>Birmingham City Council</h3>
        </a>

        <a href="/managing-waste" class="home-box box-waste">
          <h3>Managing Waste</h3>
        </a>

        <a href="/map" class="home-box box-findlocal">
          <h3>Find Local Services</h3>
        </a>
      </div>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
