<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <%- include('partials/nav') %>

    <main>
      <section class="hero">
        <!-- <h1>Find local help in Ladywood</h1>

        <p>
          CommunityLink Ladywood helps residents and community workers find
          local services, digital help, food support, advice, events and
          accessibility information in one simple place.
        </p> -->

      <div class="home-container">

        <a href="/services?category=Energy" class="home-box box-energy">
          <span class="home-box-icon">⚡</span>
          <h3>Energy and Sustainability</h3>
        </a>

        <a href="/services?category=Digital Help" class="home-box box-digital">
          <span class="home-box-icon">💻</span>
          <h3>Digital Resources</h3>
        </a>

        <a href="/communities" class="home-box box-initiatives">
          <span class="home-box-icon">🤝</span>
          <h3>Initiatives and Community Projects</h3>
        </a>

        <a href="/food-support" class="home-box box-food">
          <span class="home-box-icon">🍽️</span>
          <h3>Food Support</h3>
        </a>

        <a href="/services" class="home-box box-council">
          <span class="home-box-icon">🏛️</span>
          <h3>Birmingham City Council</h3>
        </a>

        <a href="/services" class="home-box box-waste">
          <span class="home-box-icon">♻️</span>
          <h3>Managing Waste</h3>
        </a>

        <a href="/services" class="home-box box-findlocal">
          <span class="home-box-icon">📍</span>
          <h3>Find Local Services</h3>
        </a>

      </div>

    </main>

    <%- include('partials/footer') %>
  </body>
</html>
